<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layouts</title>
</head>

<body>

    <div id="container">
        <div id="marca">Marca</div>
        <div id="conteudo">

            <div id="conteudo-principal">
                <h2>Teste</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus atque voluptates consequatur harum vitae, repellat nisi consectetur distinctio eum incidunt dicta pariatur labore quia ducimus temporibus tenetur architecto repellendus?</p>
            </div>

            <div id="conteudo-secundario">
                <h2>Teste 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, laudantium quasi esse aspernatur, illum impedit deleniti voluptatibus iusto sunt, similique nam molestiae. Quam ab eveniet aliquam laudantium laboriosam dolorem similique!</p>
            </div>

        </div>

        <div id="navegacao">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Notícias</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>

        <div id="rodape">Rodape</div>
    </div>

</body>

</html>